<h1>Editing resume</h1>

<% form_for(@resume) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @resume %> |
<%= link_to 'Back', resumes_path %>
