<h1>Listing resumes</h1>

<table>
  <tr>
  </tr>

<% for resume in @resumes %>
  <tr>
    <td><%= link_to 'Show', resume %></td>
    <td><%= link_to 'Edit', edit_resume_path(resume) %></td>
    <td><%= link_to 'Destroy', resume, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resume', new_resume_path %>
